*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f5f5f5;
}
th{
  font-weight: 500;
}
td{
  color:silver;
  font-weight: 300;
}
.navbar{
  padding:0px 60px;
}
.nav-link{
  color:silver;
}
.nav-link:hover{
  color: #FF8D29;
}
/* end -navbar */


#main{
  margin: auto;
  padding: 0px;
}
#main_body{
  width: 1200px;
  height: 600px;
  margin: 30px auto;
  border-radius: 20px;
  background-color: silver;
}
#main_body-top{
  width: 1200px;
  height: 300px;
  border-top-left-radius:20px;
  border-top-right-radius:  20px;
  background-color: #68A7AD;
}
.email{
  color:#359cf4;
}
.top-left{
  background-color: #359cf4;
}
#avatar{
  width: 270px;
  height:270px;
  margin: 50px 50px;
  border-radius: 5px;
}
#info{
  /* background-color: red; */
  width: 500px;
  margin:80px auto;
  text-align: center;
  color:#fff;
}
ul.social-icon{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0px;
  padding-left: 10px;

}
.social-icon li{
  list-style: none;
  text-decoration: none;
  margin-right: 25px;
  justify-content: center;
  /* border: 1px solid gray; */
  /* padding: 5px; */
  border-radius: 50%;
  line-height: 25px;


}
.social-icon li i {
  font-size: 20px;

}

/* ---------bot */
#main_body-bot{
  height:300px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 50px;
  background-color: #fff;
}




/* Resume tabs */
#resume-tab-content{
  width: 1200px;
  height: 900px;
  margin: 30px auto;
  border-radius: 20px;
  background-color: silver;
}
#resume-content-top{
  height: 100px;
  width: 1200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #359cf4;
  padding:30px;
}


#resume-content-bot{
  height: 800px;
  width: 1200px;
  background-color: #f9f9f9;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* tinmeline  */


.box{
  margin:0 10%;
  height: 430px;
  /* overflow: hidden; */
  padding: 10px 0 20px 30px
}

.box ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.5s linear;
  top:0
}

.box ul:last-of-type{top:80px}

.box ul:before{
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border:1px dashed #fff;
  position: absolute;
  top:0;
  left:30px
}

.box ul li{
  margin: 20px 30px 30px;
  position: relative;
  padding: 10px 20px;
  background:#EFEAD8;
  /* color:red; */
  border-radius: 10px;
  line-height: 20px;
  width: 85%
}


.box ul li > span{
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border:1px solid #ff4500;
  position: absolute;
  top:0;
  left:-30px
}

.box ul li > span:before,.box ul li > span:after{
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:#ff6d6d;
  border:2px solid #fff;
  position: absolute;
  left:-7.5px
}

.box ul li > span:before{top:-10px}
.box ul li > span:after{top:95%}

.box .title{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px
}

.box .info:first-letter{text-transform: capitalize;line-height: 1.7}

.box .name{
  margin-top: 10px;
  text-transform: capitalize;
  font-style: italic;
  text-align: right;
  margin-right: 20px
}


.box .time span{
  position: absolute;
  left: -100px;
  color:#359cf4;
  font-size:80%;
  font-weight: bold;
}
.box .time span:first-child{top:-16px}
.box .time span:last-child{top:94%}


.arrow{
  position: absolute;
  top: 105%;
  left: 22%;
  cursor: pointer;
height:20px;
width:20px
}

.arrow:hover{
  -webkit-animation: arrow 1s linear infinite;
     -moz-animation: arrow 1s linear infinite;
       -o-animation: arrow 1s linear infinite;
          animation: arrow 1s linear infinite;
}

.box ul:last-of-type .arrow{
  position: absolute;
  top: 105%;
  left: 22%;
  transform: rotateX(180deg);
  cursor: pointer;
}

svg{
  width: 20px;
  height: 20px
}

@keyframes arrow{
  0%,100%{
      top:105%
  }
  50%{
      top:106%
  }
}

@-webkit-keyframes arrow{
  0%,100%{
      top:105%
  }
  50%{
      top:106%
  }
}

@-moz-keyframes arrow{
  0%,100%{
      top:105%
  }
  50%{
      top:106%
  }
}

@-o-keyframes arrow{
  0%,100%{
      top:105%
  }
  50%{
      top:106%
  }
}




/* contact tab content----- */
#contact-tab-content{
  width: 1200px;
  height: 600px;
  margin: 30px auto;
  border-radius: 20px;
  background-color: silver;
}
#contact-content-top{
  height: 100px;
  width: 1200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #359cf4;
  padding:30px;
}


#contact-content-bot{
  height: 500px;
  width: 1200px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 60px;
}
.social-contact li{
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 300;
  color: black;
}
.social-contact li .fa-solid{
  font-size: 20px;
  color: #359cf4;
}

/* form contact */
#form-contact{
  font-weight: 400;
  color: grey;
}
.skill-progress li{
  list-style: none;
  margin-bottom: 20px;
}